    body{
        margin: 70px;
        border-width: 1px;
        border-radius: 5px;
        border-color: black;
        border-style: solid;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h2{
        text-align: center;
        padding-top: 20px;
    }
    label{
        width: 240px;
        display: inline-block;
    }
    span1{
        color: red;
    }
    select{
        background-color:rgb(216, 233, 240) ;
        width: 320px;
        padding: 7px;
        border-radius: 1mm;
    }
    input{
        width: 300px;
        padding: 7px;
        border-radius: 1mm;
    }
    input[type="radio"]{
        width: auto;
    }
    #auto{
      width: auto;
    }
    textarea{
      width: 320px;
      height: 75px;
    }
    p{
      padding-inline: 10px;
    }
    p1{
      padding-bottom: 15px;
      font-weight: normal;
    }
    p2{
      padding-top: 15px;
    }
    table{
      
      border-collapse: collapse;
    }


    divlast{
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

