    body{
        border: 1px;
        /*margin: 40px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 2mm;*/
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h2{
        text-align: center;
        padding-top: 20px;
    }
    label{
        width: 240px;
        display: inline-block;
    }
    span1{
        color: red;
    }
    select{
        background-color:rgb(216, 233, 240) ;
        width: 320px;
        padding: 7px;
        border-radius: 1mm;
    }
    input{
        width: 300px;
        padding: 7px;
        border-radius: 1mm;
    }
    input[type="radio"]{
        width: auto;
    }
    divlast{
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
/* Create 2 unequal columns that floats next to each other */
.column {
    float: left;
  }
  
  /* Right column */
  .column.right {
    width: 25%;
  }
  
  /* Left column */
  .column.left {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes both columns stack on top of each other instead of next to each other*/
  @media screen and (max-width: 100%) {
    .column.right, .column.left {
      width: 100%;
    }
  }