/* Create 2 unequal columns that floats next to each other */
.column {
    float: left;
  }
  
  /* Right column */
  .column.right {
    width: 25%;
  }
  
  /* Left column */
  .column.left {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes both columns stack on top of each other instead of next to each other*/
  @media screen and (max-width: 100%) {
    .column.right, .column.left {
      width: 100%;
    }
  }